{
  "parser": "babel-eslint",
  "extends": [
    "plugin:import/recommended",
    "prettier",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": ["error", {"singleQuote": true, "tabWidth": 4, "no-useless-constructor": false}]
  },
  "plugins": [
    "import",
    "prettier"
  ]
}